<!--
+-----------------------------------------------------------------------------+ 
[+] INFO
+-----------------------------------------------------------------------------+
 [Snake-Flask/src/snake_flask/quiz/templates/snake_quiz/base_extension.html]

 Author      : Pascal Malouin (https://github.com/fantomH)
 Created     : 2026-06-24 12:45:26 UTC
 Updated     : 2026-07-16 19:21:26 UTC
 Description : SnakeQuiz base template as extension.
+-----------------------------------------------------------------------------+
-->

{% extends _base_template %}

{% block content %}
    
    {{ load_common_css() }}

    <main>
        {% block snake_content %}{% endblock %}
    </main>

    {{ _load_common_js() }}

{% endblock %}

