<!--
+-----------------------------------------------------------------------------+ 
[+] INFO
+-----------------------------------------------------------------------------+
 [Snake-Flask/src/snake_flask/common/templates/snake_common/base_extension.html]

 Author      : Pascal Malouin (https://github.com/fantomH)
 Created     : 2026-07-15 11:46:07 UTC
 Updated     : 2026-07-15 11:46:07 UTC
 Description : SnakeCommon base extension template.
+-----------------------------------------------------------------------------+
-->

{% extends _snake_common_base_template %}

{% block content %}
    
    <link rel="stylesheet" href="{{ url_for('snake_common.static', filename='snake-common.css') }}" />

    <main>
        {% block snake_content %}{% endblock %}
    </main>

    <script src="{{ url_for('snake_common.static', filename='snake-common.js') }}"></script>

{% endblock %}

