<!--
+-----------------------------------------------------------------------------+ 
[+] INFO
+-----------------------------------------------------------------------------+
 [Snake-Flask/src/snake_flask/permissions/templates/snake_permissions/base_extension.html]

 Author      : Pascal Malouin (https://github.com/fantomH)
 Created     : 2026-07-09 15:10:11 UTC
 Updated     : 2026-07-09 15:10:11 UTC
 Description : SnakePermissions base template as extension.
+-----------------------------------------------------------------------------+
-->

{% extends _snake_permissions_base_template %}

{% block content %}
    
    {{ load_common_css() }}

    <main>
        {% block snake_content %}{% endblock %}
    </main>

    {{ _load_common_js() }}

{% endblock %}
