<!--
+-----------------------------------------------------------------------------+ 
[+] INFO
+-----------------------------------------------------------------------------+
 [Snake-Flask/src/snake_flask/permissions/templates/snake_permissions/base_extension.html]

 Author      : Pascal Malouin (https://github.com/fantomH)
 Created     : 2026-07-09 15:10:11 UTC
 Updated     : 2026-07-09 15:10:11 UTC
 Description : SnakePermissions base template as extension.
+-----------------------------------------------------------------------------+
-->

{% extends _snake_permission_base_template %}

{% block content %}
    
    <link rel="stylesheet" href="{{ url_for('snake_common.static', filename='snake-common.css') }}" />

    <main>
        {% block snake_content %}{% endblock %}
    </main>

    <script src="{{ url_for('snake_common.static', filename='snake-common.js') }}"></script>

{% endblock %}
