<!doctype html>
<html>
<head>
    <title>{% block sp_title %}Snake-Permissions{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('snake_permissions.static',
                           filename='snake-permissions.css') }}">
</head>
<body>

<header class="sp-header">
    <a class="sp-brand"
       href="{{ url_for('snake_permissions.index') }}">
        Snake-Permissions
    </a>

    <nav class="sp-nav">
        <a href="{{ url_for('snake_permissions.permissions') }}">
            Permissions
        </a>

        <a href="{{ url_for('snake_permissions.user_groups') }}">
            User Groups
        </a>

        <a href="{{ url_for('snake_permissions.permission_groups') }}">
            Permission Groups
        </a>
    </nav>
</header>

<main class="sp-main">
    {% block sp_content %}{% endblock %}
</main>

</body>
</html>
