<!--
+-----------------------------------------------------------------------------+ 
[+] INFO
+-----------------------------------------------------------------------------+
 [Snake-Flask/src/snake_flask/permissions/templates/snake_permissions/roles.html]

 Author      : Pascal Malouin (https://github.com/fantomH)
 Created     : 2026-07-13 01:39:20 UTC
 Updated     : 2026-07-13 01:39:24 UTC
 Description : Roles template.
+-----------------------------------------------------------------------------+
-->

{% extends _snake_permissions_internal_base_template %}

{% block snake_content %}

    <div class="sc-container-fluid">

        <form method="POST" action="">
            <h1>Roles</h1>

            <div class="form-group sc-box sc-box-light">
 
                <div class="input-group">
                    <input type="text"
                          name="name"
                          class="form-control"
                          placeholder="SUPERUSER"
                          required>

                    <input type="text"
                          name="description"
                          class="form-control"
                          placeholder="Description">

                    <button type="submit"
                            class="btn btn-dark">
                               Add Role
                    </button>
                </div>
          </div>
        </form>

        <div class="sc-box sc-box-dark">
            {{ roles_table.load() | safe }}
        </div>

    </div>

{% endblock %}
