<!--
+-----------------------------------------------------------------------------+ 
[+] INFO
+-----------------------------------------------------------------------------+
 [Snake-Flask/src/snake_flask/access/templates/snake_access/base_extension.html]

 Author      : Pascal Malouin (https://github.com/fantomH)
 Created     : 2026-07-06 11:57:42 UTC
 Updated     : 2026-07-16 18:37:04 UTC
 Description : SnakeAccess base template as extension.
+-----------------------------------------------------------------------------+
-->

{% extends _snake_access_base_template %}

{% block content %}
    
    {{ load_common_css() }}

    <main>
        {% block snake_content %}{% endblock %}
    </main>

    {{ _load_common_js() }}

{% endblock %}

