<!--
[ INFO ] -------------------------------------------------------------------- +
| [Snake-Flask/.../access/templates/snake_access/password_confirm.html]
|
| Author      : Pascal Malouin (https://github.com/fantomH)
| Created     : 2026-07-07 15:59:10 UTC
| Updated     : 2026-07-08 11:01:26 UTC
| Description : Password confirmation template.
+ --------------------------------------------------------------------------- +
-->

{% extends _snake_access_internal_base_template %}

{% block snake_content %}

    <div class="container py-5" style="max-width: 420px;">

        <h2 class="mb-4">
            {{ display_language.get("SNAKE_ACCESS-confirm_password", "Confirm password") }}
        </h2>

        <form method="POST">

            <div class="sc-box sc-box-light">

                <div class="form-group">
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="{{ display_language.get("SNAKE_ACCESS-enter_your_password", "Enter your password") }}"/>
                </div>

          </div>

          <button class="btn btn-dark w-100" type="submit">{{ display_language.get("SNAKE_ACCESS-confirm", "Confirm") }}</button>

        </form>
    </div>

{% endblock %}
