<!--
[ INFO ] -------------------------------------------------------------------- +
| [Snake-Flask/src/snake_flask/access/templates/snake_access/pin_setup.html]
|
| Author      : Pascal Malouin (https://github.com/fantomH)
| Created     : 2026-07-06 20:00:00 UTC
| Updated     : 2026-07-08 11:04:00 UTC
| Description : PIN setup.
+ --------------------------------------------------------------------------- +
-->

{% extends _snake_access_internal_base_template %}

{% block snake_content %}

    <div class="container py-4" style="max-width: 500px;">

        <h1 class="h3 mb-3">
            {{ display_language.get("SNAKE_ACCESS-PIN-configure_pin", "Configure PIN") }}
        </h1>

        <p>
            {{ display_language.get(
                "SNAKE_ACCESS-PIN-enter_and_confirm",
                "Enter and confirm your PIN."
            ) }}
        </p>

        <form method="post">

            <div class="sc-box sc-box-light">

                <div class="input-group mb-3">
                    <span class="input-group-text">
                        {{ display_language.get("SNAKE_ACCESS-PIN-enter_pin", "Enter PIN") }}
                    </span>

                    <input
                        type="password"
                        id="pin"
                        name="pin"
                        class="form-control"
                        inputmode="numeric"
                        autocomplete="new-password"
                        minlength="{{ pin_length }}"
                        maxlength="{{ pin_length }}"
                        pattern="[0-9]*"
                        required
                        autofocus>

                    <button
                        type="button"
                        class="btn btn-outline-dark"
                        data-toggle-password
                        data-password-input="pin">
                        <span class="material-symbols-outlined">visibility</span>
                    </button>

                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">
                        {{ display_language.get("SNAKE_ACCESS-PIN-confirm_pin", "Confirm PIN") }}
                    </span>

                    <input
                        type="password"
                        class="form-control"
                        id="pin_confirm"
                        name="pin_confirm"
                        inputmode="numeric"
                        autocomplete="new-password"
                        minlength="{{ pin_length }}"
                        maxlength="{{ pin_length }}"
                        pattern="[0-9]*"
                        required>

                    <button
                        type="button"
                        class="btn btn-outline-dark"
                        data-toggle-password
                        data-password-input="pin_confirm">
                        <span class="material-symbols-outlined">visibility</span>
                    </button>
  
                </div>

            </div>

            <button type="submit" class="btn btn-dark w-100">
                {{ display_language.get("SNAKE_ACCESS-PIN-save_pin", "Save PIN") }}
            </button>

        </form>

    </div>

  {{ load_common_js('password_visibility') }}


{% endblock %}
