<!--
[ INFO ] -------------------------------------------------------------------- +
| [Snake-Flask/.../access/templates/snake_access/pin_confirm.html]
|
| Author      : Pascal Malouin (https://github.com/fantomH)
| Created     : 2026-07-08 12:33:09 UTC
| Updated     : 2026-07-08 12:33:14 UTC
| Description : PIN confirmation template.
+ --------------------------------------------------------------------------- +
-->

{% extends _snake_access_internal_base_template %}

{% block snake_content %}

    <div class="container py-5" style="max-width: 420px;">

        <h2 class="mb-4">
            {{ display_language.get("SNAKE_ACCESS-confirm_password", "Confirm password") }}
        </h2>

        <form method="POST">

            <div class="sc-box sc-box-light">

                <div class="input-group mb-3">

                    <span class="input-group-text">
                        {{ display_language.get("SNAKE_ACCESS-PIN-enter_pin", "Enter PIN") }}
                    </span>
                    <input
                        type="password"
                        id="pin"
                        name="pin"
                        class="form-control"
                        autofocus>
                    
                    <button
                        type="button"
                        class="btn btn-outline-dark"
                        data-toggle-password
                        data-password-input="pin">
                        <span class="material-symbols-outlined">visibility</span>
                    </button>

                </div>
            </div>

            <button class="btn btn-dark w-100" type="submit">{{ display_language.get("SNAKE_ACCESS-confirm", "Confirm") }}</button>

        </form>
    </div>

  {{ load_common_js('password_visibility') }}


{% endblock %}
