<!--
[ INFO ] -------------------------------------------------------------------- +
| [Snake-Flask/src/snake_flask/access/templates/snake_access/pin_verify.html]
|
| Author      : Pascal Malouin (https://github.com/fantomH)
| Created     : 2026-07-06 20:00:00 UTC
| Updated     : 2026-07-06 20:00:00 UTC
| Description : PIN verification.
+ --------------------------------------------------------------------------- +
-->

{% extends _snake_access_internal_base_template %}

{% block snake_access_content %}

    <div class="container py-5" style="max-width: 420px;">

        <h2 class="mb-4">
            {{ display_language.get("SNAKE_ACCESS-PIN-pin_verification", "PIN Verification") }}
        </h2>

        <p>
            {{ display_language.get("SNAKE_ACCESS-PIN-enter_pin_to_continue", "Enter your PIN to continue.") }}
        </p>

        <form method="post">

            <div class="sc-box sc-box-light">

                <div class="input-group mb-3">

                    <span class=input-group-text">
                        {{ display_language.get("SNAKE_ACCESS-PIN-pin", "PIN") }}
                    </span>

                    <input
                        type="password"
                        id="pin"
                        name="pin"
                        class="form-control"
                        inputmode="numeric"
                        autocomplete="one-time-code"
                        minlength="{{ pin_length }}"
                        maxlength="{{ pin_length }}"
                        pattern="[0-9]*"
                        autofocus
                        required>
                    <button
                        type="button"
                        class="btn btn-dark"
                        data-toggle-password
                        data-password-input="pin">
                        <span class="material-symbols-outlined">visibility</span>
                    </button>

                </div>

            </div>

            <button
                class="btn btn-dark w-100"
                type="submit">
                {{ display_language.get("SNAKE_ACCESS-PIN-verify", "Verify") }}
            </button>

        </form>

    </div>

{% endblock %}
